In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd


data = {
    'Name': ['om', 'ahmed', 'sagar'],
    'Age': [51, 20, 43, 23],
    'Score': [90, 30, 43, 32]
}
df = pd.DataFrame(data)


print("DataFrame:")
print(df)
print()


print("Basic Information:")
print(df.info())
print()


print("Descriptive Statistics:")
print(df.describe())
print()


print("Accessing specific columns:")
print(df['Name'])
print()


df['Grade'] = ['A', 'B', 'B', 'A']
print("After adding a new column 'Grade':")
print(df)
print()

print("Filtering rows where Age is greater than 30:")
print(df[df['Age'] > 30])
print()


print("Sorting the DataFrame by Age in descending order:")
print(df.sort_values(by='Age', ascending=False))
print()

print("Grouping by Grade and calculating the average Score:")
print(df.groupby('Grade')['Score'].mean())

DataFrame:
      Name  Age  Score
0    wipro   25     85
1      tcs   30     90
2  infosys   35     88
3   zomato   40     92

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Score   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes
None

Descriptive Statistics:
             Age      Score
count   4.000000   4.000000
mean   32.500000  88.750000
std     6.454972   2.986079
min    25.000000  85.000000
25%    28.750000  87.250000
50%    32.500000  89.000000
75%    36.250000  90.500000
max    40.000000  92.000000

Accessing specific columns:
0      wipro
1        tcs
2    infosys
3     zomato
Name: Name, dtype: object

After adding a new column 'Grade':
      Name  Age  Score Grade
0    wipro   25     85     A
1      tcs   30     90     B
2  infosys   35     88     B
3   zomato   40     92     A

Filtering rows where Age is greater than 30:
      Name  Age  Score Grade
2  infosys   35     88     B
3   zomato   40     92     A

Sorting the DataFrame by Age in descending order:
      Name  Age  Score Grade
3   zomato   40     92     A
2  infosys   35     88     B
1      tcs   30     90     B
0    wipro   25     85     A

Grouping by Grade and calculating the average Score:
Grade
A    88.5
B    89.0
Name: Score, dtype: float64