In [ ]:
my_string = "om ghat !"
print(my_string[2])
print(my_string[5])
print(my_string[0:4])

age = 20
print(age)

s
h
sagar
30

In [ ]:
my_list = ["infosys", "wipro","tcs"]
print (my_list[0])
print(my_list[2])
print (my_list[0:2])
my_list.append("ongc")
print(my_list)
my_list.remove("tcs")
print(my_list)

infosys
tcs
['infosys', 'wipro']
['infosys', 'wipro', 'tcs', 'ongc']
['infosys', 'wipro', 'ongc']

In [ ]:
my_dict = {"name": "John", "age": 30, "country": "USA"}
print (my_dict["name"])
print (my_dict["age"])
my_dict["city"] = "New York"
print (my_dict)
del my_dict ["country"]
print (my_dict)

John
30
{'name': 'John', 'age': 30, 'country': 'USA', 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York'}